.hero {
    &__container {
        height: 676px;
    }

    &__main {
        position: relative;
        display: flex;
    }

    &__info {
        margin-top: 127px;
        max-width: 674px;
    }

    &__title {
        @include title0_Bold54();
    }

    &__banner {
        position: absolute;
        right: 0;
        width: 540px;
        height: 676px;
        z-index: -5;
    }
}